aliases:
  attach-workspace: &attach-workspace
    attach_workspace:
      at: ~/project
  docker-defaults: &docker-defaults
    docker:
      - image: docker:17.09.1-ce-git
  docker-node: &docker-node
    docker:
      - image: circleci/node:8
  persist-docker-images: &persist-docker-images
    persist_to_workspace:
      root: .
      paths: docker-images

jobs:
  analyze-pull-request:
    <<: *docker-node
    steps:
      - checkout
      - *attach-workspace
      - run:
          command: |
            if [ -n "${CIRCLE_PULL_REQUEST}" ]; then
              yarn danger ci
            else
              echo "Skipping Pull Request analysis." \
                "Please create a Pull Request to merge your changes."
              exit 1
            fi
          name: Analyze Pull Request
  install:
    <<: *docker-node
    steps:
      - checkout
      - *attach-workspace
      - restore_cache:
          keys:
            - v1-yarn-{{ .Branch }}-{{ checksum "yarn.lock" }}
            - v1-yarn-{{ .Branch }}-
            - v1-yarn-
          name: Restore Yarn cache
      - run:
          command: yarn ci
          name: Install dependencies
      - save_cache:
          key: v1-yarn-{{ .Branch }}-{{ checksum "yarn.lock" }}
          name: Save Yarn cache
          paths:
            - ~/.cache/yarn
      - persist_to_workspace:
          root: .
          paths: node_modules
  build-latest:
    <<: *docker-defaults
    steps:
      - checkout
      - *attach-workspace
      - setup_remote_docker
      - run:
          command: |
            ./bin/image.sh build keimlink/sphinx-doc latest
            ./bin/image.sh test keimlink/sphinx-doc latest
            mkdir -p docker-images
            ./bin/image.sh save keimlink/sphinx-doc latest > docker-images/sphinx-doc_latest.tar
          name: Build and test latest Docker image
      - *persist-docker-images
  build-latex:
    <<: *docker-defaults
    steps:
      - checkout
      - *attach-workspace
      - setup_remote_docker
      - run:
          command: |
            ./bin/image.sh build keimlink/sphinx-doc latex
            ./bin/image.sh test keimlink/sphinx-doc latex
            mkdir -p docker-images
            ./bin/image.sh save keimlink/sphinx-doc latex > docker-images/sphinx-doc_latex.tar
          name: Build and test latex Docker image
      - *persist-docker-images
  push:
    <<: *docker-defaults
    steps:
      - setup_remote_docker
      - checkout
      - *attach-workspace
      - run:
          command: |
            docker login --username ${DOCKER_LOGIN} --password ${DOCKER_PASSWORD}
            docker load < docker-images/sphinx-doc_latest.tar
            ./bin/image.sh push keimlink/sphinx-doc latest
            docker load < docker-images/sphinx-doc_latex.tar
            ./bin/image.sh push keimlink/sphinx-doc latex
          name: Push Docker images to registry
  shellcheck:
    docker:
      - image: koalaman/shellcheck-alpine:v0.5.0
    steps:
      - checkout
      - run:
          command: find . -name "*.sh" -exec shellcheck {} +
          name: Check all shell scripts
  yamllint:
    docker:
      - image: boiyaa/yamllint:1.8.1
    steps:
      - checkout
      - run:
          command: yamllint --strict .yamllint .
          name: Check all YAML files
  yarn-check:
    <<: *docker-node
    steps:
      - checkout
      - *attach-workspace
      - run:
          command: yarn check
          name: Check yarn.lock
  yarn-lint:
    <<: *docker-node
    steps:
      - checkout
      - *attach-workspace
      - run:
          command: yarn lint
          name: Run all yarn lint checks

version: 2

workflows:
  build-push:
    jobs:
      - analyze-pull-request:
          context: org-global
          filters:
            branches:
              ignore:
                - develop
                - master
          requires:
            - install
      - build-latest:
          requires:
            - analyze-pull-request
            - shellcheck
            - yamllint
            - yarn-lint
      - build-latex:
          requires:
            - analyze-pull-request
            - shellcheck
            - yamllint
            - yarn-lint
      - install
      - shellcheck
      - yamllint
      - push:
          context: org-global
          filters:
            branches:
              only: master
          requires:
            - build-latest
            - build-latex
      - yarn-check:
          requires:
            - install
      - yarn-lint:
          requires:
            - install
  version: 2
